# Preprocessing of the dataset  

## Steps :
* Merging the differents datasets into one
* Creating a date column
* Removing column with 70% of null values
* Creating numerical value for the full time result

### Merging the datasets
Merge datasets from season 14-15 to 19-20. Season 20-21 will be kept as testing data so we leave it alone for the moment.

In [1]:
import os 
import pandas as pd


path = "assets/data/"
def merged_df():
    
    initial_file = "PL_14-15.csv"
    initial_df = pd.read_csv(path+initial_file)
    files_to_append = [f for f in os.listdir(path) if f != initial_file]
    for f in files_to_append:
        df = pd.read_csv(path+f)
        initial_df = initial_df.append(df)
    return initial_df
df = merged_df()

## Creating a date column

In [2]:
df["Date"] = pd.to_datetime(df["Date"])

In [5]:
df.isnull().mean() *100

Div          0.04384
Date         0.04384
HomeTeam     0.04384
AwayTeam     0.04384
FTHG         0.04384
              ...
PCAHA       83.34064
MaxCAHH     83.34064
MaxCAHA     83.34064
AvgCAHH     83.34064
AvgCAHA     83.34064
Length: 130, dtype: float64

## Removing column with 70% of null values

In [13]:
columns_to_drop = [col for col in df.columns if df[col].isnull().mean() *100 > 75 ]
df.drop(columns_to_drop, axis=1, inplace= True)

## creatiing numerical value for the full time result. 
The full time result (FTR) column is a string but in order to process it later we need to encode it as a numerical value.

In [27]:
def numerize_ftr_htr(ftr):
    if ftr == "D":
        return 0
    elif ftr == "A":
        return 2
    elif ftr == "H":
        return 1
    else :
        return None
df["Numerical_htr"] = df["HTR"].apply(numerize_ftr_htr)
df["Numerical_ftr"] = df["FTR"].apply(numerize_ftr_htr)

In [31]:
corr

               Numerical_ftr  Numerical_htr
Numerical_ftr       1.000000       0.325398
Numerical_htr       0.325398       1.000000